:root {
    --cover: rgba(0, 0, 0, 0.6);
    --green_one: #93c459;
    --green_two: #e3fed1;
    --green_three: #005702;
    --green_four: #83ba29;
    --yellow: #ffba03;
    --red: #ff4929;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
a {
    text-decoration: none !important;
}
a:hover {
    text-decoration: none;
}
li {
    list-style: none;
    border-bottom: none
}
@font-face {
    font-family: 'Gandom';
    src: url("../fonts/Gandom-FD.eot");
    src: url("../fonts/Gandom-FD.woff") format('woff');
}

body {
    font-family: "Gandom", Arial !important;
    font-weight: normal;
    direction: rtl !important;
    font-size: 14px;
}

label {
    font-weight: bold;
}

#head {
    width: 100vw;
    height: 100vh;
    background: url("../images/todo-lists-5238324_1280.jpg") no-repeat fixed center center/cover;
}

#head .cover {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
    background-color: var(--cover);
}
.horizontal-line{
    width: 100%;
    height: 1px;
    background-color: #e3fed1;   /* Line color */
    box-shadow: 2px 2px 5px #e3fed1; /* Shadow */
}
.border_box{ border: 1px solid var(--green_two)}
.box-height{
    height: 150px;
}
.bg-green-one{
    background-color: var(--green_one) !important;
}
.t-green-one{
    color: var(--green_one) !important;
}
.bg-green-two{
    background-color: var(--green_two) !important;
}
.t-green-two{
    color: var(--green_two) !important;
}
.bg-green-three{
    background-color: var(--green_three) !important;
}
.t-green-three{
    color: var(--green_three) !important;
}
.bg-green-four{
    background-color: var(--green_four) !important;
}
.t-green-four{
    color: var(--green_four) !important;
}
.bg-yellow{
    background-color: var(--yellow) !important;
}
.t-yellow{
    color: var(--yellow) !important;
}
.bg-red{
    background-color: var(--red) !important;
}
.t-red{ color: var(--red) !important;}
.clear{
    clear: both;}
